<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Rustic Board!</title>
</head>
<body>
    <header>
        <h3>    Welcome to the Rustic Board! </h3>
        <div style="float:right;">
            <button onclick="window.location.href='localhost:2000/'">
                Home
            </button>
            <button onclick="window.location.href='localhost:2000/login'">
                Login
            </button>
            <button onclick="window.location.href='localhost:2000/register'">
                Sign Up
            </button>
            <button onclick="window.location.href='localhost:2000/submission'">
                Submit
            </button>
            <button onclick="window.location.href='localhost:2000/logout'">
                Logout
            </button>
        </div>
    </header>
    <hr>
<form action="" method="POST">
    <h3>    Create a thread    </h3>

    <div>
        <label for="title">Title:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="content">Post:</label>
        <input type="text" name="content">
    </div>
    <input type="submit" value="Submit">
</form>
</body>